@font-face {
    font-family: 'Crimson Text';
    src: url(fonts/CrimsonText/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: 'Crimson Text';
    src: url(fonts/CrimsonText/CrimsonText-Semibold.ttf);
    font-weight:500;
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.otf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Medium.otf);
    font-weight: 500;
}

body {
    background-color:black;
    margin:0;
    color:white;
    position:relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-family: 'Crimson Text';
    font-weight: 100;
    font-size: 80px;
    line-height: 116.5%;
    margin-bottom:0.5em;
}

h2 {
    font-family: 'Crimson Text';
    font-weight: 500;
    font-size: 48px;
}

h3 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 35px;
    letter-spacing: -0.035em;
    text-transform: lowercase;
}

h4 {
    font-family: 'Crimson Text';
    font-weight: 400;
    font-size: 40px;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 286%;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

#main {
    margin-left:90px;
}

#about {
    background-color: #272634;
    z-index: 1;
    height:510px;
}

#about-about {
    background-color: #272634;
    z-index: 1;
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 13px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  padding: 16px 35px;
  margin-top:1.5em;
  transition: all 0.2s ease-in-out;
}

a {
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #686464;   
}

button:hover {
    border-color: #686464;
}

button:hover a {
    color: #686464;
}

.fill:hover {
    color:white;
    background-color: #686464;
    border-color: #686464;
}

.fill:hover a {
    color:white;
}

.fill {
  background-color: #fff;
  margin-right:30px;
  margin-bottom:100px;
  transition: all 0.2s ease-in-out;
}

.fill-dark {
    color:white;
    background-color:#17161F;
    border:none;
    transition: all 0.2s ease-in-out;
}

.fill-dark:hover {
    background-color: #686464;
}

header {
    display: flex;
    top:0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
    transition: all .5s ease-in-out;
    z-index:1;
}

header h3 {
    margin-right: auto;
    margin-left:90px;
}

header li {
    list-style: none;
    display: inline-block;
}

header a {
    font-family: 'Poppins';
    text-decoration: none;
    display: block;
    padding-top:-1em;
    padding-left: 1.5em;
    padding-right:1.5em;
    color:white;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.menu {
    display:none;
}

.button a {
    text-decoration: none;
    color:white;
}

.fill a {
    color:black;
    text-decoration: none;
}

.scroll {
    background-color: rgba(0, 0, 0, 0.15);
}

#main p {
    width:775px;
}

.main-bg {
    position:absolute;
    z-index: -1;
    right:0;
    top:18em;
}

.main-right {
    position:absolute;
    z-index: -1;
    top:17em;
    right:0;
}

.main-middle {
    position:absolute;
    z-index: -1;
    top:0;
    left:28em;
}

.main-left {
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
}

.icons {
    display:inline;
    position:relative;
    top:15px;
}

.icon {
    margin-left:28px;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    filter: brightness(40%);
}

.profile {
    height: 300px;
    margin-top: 80px;
    margin-left: 130px;
    display:inline;
    float:left;
}

#about .content {
    margin-top:30px;
    display:inline;
    float:left;
    margin-left:170px;
}

.about-content {
    padding: 30px 0px;
    margin: 0 7%;
}

.about-content p {
    width:70%;
}

#about .content h2 {
    margin-bottom:30px;
}

#about p {
    width: 720px;
}

#projects {
    background-color: #17161F;
    margin-top:-40px;
    padding-bottom:80px;
}

#projects .content p {
    width:900px;
}

#projects .content {
    margin-left:90px;
}

#projects .content h2 {
    padding-top: 80px;
    margin-bottom:0;
}

.project-card {
    background-color:#000;
    width:500px;
    height:280px;
    padding:40px;
    position: relative;
    border-right-width:0;
    border-left-width:0;
    border-bottom-width:0;
}

.project-card:before {
    content:'';
    position:absolute;
    background: linear-gradient(90deg, #FF7D34 0%, #9D5174 52.08%, #2958B3 100%);
    width:100%;
    top:-20px;
    left:0;
    height:20px;
}

.cards {
    margin-top:70px;
    margin-left: 90px;
    margin-right: 90px;
}

.cards h4 {
    margin-top:-10px;
}

.cards .left {
    display:inline-block;
    margin-right:5%;
}

.cards .right {
    display:inline-block;
}

.description {
    color: #898888;
    margin-top:-60px;
}

#contact {
    text-align: center;
    height:400px;
}

#contact h2 {
    margin-top:80px;
    margin-bottom:0;
}

.footer-bg {
    z-index:-1;
    position: absolute;
    bottom:0;
    left:0;
}

.footer-left {
    position: absolute;
    z-index: -2;
    bottom:0;
    left:0;
}

.footer-middle {
    position: absolute;
    z-index: -2;
    bottom:0;
    left:0em;
}

.footer-right {
    position: absolute;
    z-index: -2;
    bottom:0;
    right:0;
}

.project-image {
    padding-top:2em;
    padding-right:2em;
    width:45%;
    display:inline-block;
}

@media screen and (max-width: 1420px) {
    .project-card {
        width:30%;
    }
}

@media screen and (max-width: 1330px) {
    .profile {
        width:20%;
        height:auto;
    }

    #about .content {
        margin-left:8%;
    }
}

@media screen and (max-width: 1210px) {
    .project-card {
        height:320px;
    }

    #about .content {
        margin-right:90px;
    }

    #about p {
        font-size:14px;
        width:600px;
    }
}

@media screen and (max-width: 1160px) {
    #about p {
        width:500px;
    }

    #projects .content p {
        width:700px;
    }

    #about {
        height: 550px;
    }

    #projects .content {
        margin-right:10%;
    }
}

@media screen and (max-width: 1080px) {
    #about {
        text-align: center;
        justify-content: center;
        height:720px;
    }

    #about .content {
        display:block;
        float:none;
        margin:0 auto;
    }

    #about .content p {
        margin:auto auto;
        width:70%;
    }

    #about button {
        margin:30px auto;
    }

    .profile {
        display:block;
        float:none;
        margin: auto auto;
        height:150px;
        width:auto;
        padding-top:60px;
    }

    .project-card {
        width:85%;
        height:250px;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        display:block;
        float:none;
        margin-bottom:50px;
    }
}

@media screen and (max-width: 930px) {
    #nav ul {
        display: none;
        width:100%;
        position: absolute;
        top:0;
        margin-top:-40px;
        background-color: #272634;
        padding:2em 3em;
        z-index:0;
    }

    #nav li {
        display: block;
    }

    #nav {
        display: inline;
    }

    .menu {
        display: block;
        position: absolute;
        top:0;
        right:10%;
        margin:0;
        padding:0;
        height:100px;
        z-index: 1;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }

    .project-image {
        display:block;
        width:100%;
    }

    .about-content {
        margin: 0 10%;
    }

    .about-content p {
        font-size: 14px;
        width:100%;
    }

    .menu:hover {
        filter:brightness(60%);
    }

    .main-bg {
        filter:brightness(60%);
    }

    .main-middle, .footer-bg, .footer-left, .main-left {
        display:none;
    }

    #main h1 {
        font-size: 70px;
    }

    #main p {
        font-size:14px;
        width:80%;
    }
}

@media screen and (max-width: 820px) {

    #projects .content p {
        width:90%;
        font-size: 14px;
    }

    .project-card {
        height:275px;
    }
}

@media screen and (max-width: 660px) {
    #main .icons {
        display:none;
    }

    #projects .content {
        margin-left:10%;
    }

    .project-card {
        margin-left:0;
    }

    .cards {
        margin-left:10%;
    }

    #main {
        margin-left: 10%;
    }

    header h3 {
        margin-left: 10%;
    }
}

@media screen and (max-width: 620px) {
    #about {
        height: 780px;
    }

    #main h1 {
        font-size:60px;
    }

    #main p {
        font-size: 12px;
    }
}

@media screen and (max-width: 560px) {
    .project-card {
        height: 320px;
    }   

    #contact p {
        margin-left:40px;
        margin-right:40px;
    }
}

@media screen and (max-width: 500px) {
    #main .fill {
        margin-bottom:0;
    }

    #main .resume {
        margin-bottom:60px;
    }
}

@media screen and (max-width: 465px) {
    #main h1 {
        font-size: 50px;
    }

    #about {
        height:840px;
    }

    #projects .content p {
        width:100%;
    }

    .project-card p {
        font-size:14px;
    }
    
    .project-card h4 {
        font-size: 35px;
    }

    .footer-cta {
        margin-left:10%;
        margin-right: 10%;
    }

    .footer-cta .icon {
        margin-right:20px;
        margin-left:-10px;
    }

    .footer-cta .icon img {
        width:2em;
        height:2em;
    }

}

@media screen and (max-width: 400px) {
    #about {
        height: 870px;
    }
}

@media screen and (max-width: 370px) {
    #about {
        height: 890px;
    }
}